@import url('https://fonts.googleapis.com/css?family=Crafty+Girls');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.tile {
  height: 59px;
  text-align: center;
  flex: 0 0 11.11%; 
  border: 1px solid #DFE4EA;
  font-size: 22px;
  color: #000;
  font-family: 'Crafty Girls', cursive;
}

.tile:nth-child(3n) {
  border-right: 3px solid #2f3542;
}

.tile:nth-child(9n) {
  border-right: none;
}

.readonly {
  color: #DFE4EA;
  background: #747d8c;
  cursor: default;
  font-family: 'Roboto', sans-serif;

}

.border-line {
  border-bottom: 2px solid #000;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  height: 30px
}
